.nav-distance {
	padding-left: 40%;
}
.div-distance {
	padding-left: 10%;
}
.navbar-light {
	background: #adc6ff;
}
.box {
	padding-left: 10%; padding-right: 10%; padding-top: 5%; color: #adc6ff;
}

.box {
	color: white;
        background-color: #adc6ff;
        margin-bottom: 10%;
        margin-left: 10%;
        border-color: #adc6ff;
}
